*{
  margin: 0%;
  padding: 0%;

}

body {
  text-align: center;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  

}
#questions {
  text-align: center;
  color:black;
}
#ruby {
  display: none;
  text-align: center;
}

#csharp {
  display: none;
  text-align: center;
}

#rabits {
  display: none;
  text-align: center;
}