*{
  margin: 0%;
  padding: 0%;

}

body {
  text-align: center;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  

}
#questions {
  text-align: center;
  color:black;
}
.card-answer1 {
  display: none;
  text-align: center;
}

.card-answer2 {
  display: none;
  text-align: center;
}

.card-answer3 {
  display: none;
  text-align: center;
}